/* Variables */
:root {
  --primary-text-color: #000;
  --primary-background-color: #ffff;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
}

body {
  font-family: var(--primary-font-family);
  max-width: 768px;
  margin: 0 auto;
}

.page-container {
  /* display: grid; */
  /* grid-template-columns: auto clamp(350px, 90%, 768px) auto; */
  margin: 0 1.25rem;
}

h1 {
  font-size: 1.8rem;
  margin: 0 0 1.25rem;
}

h2 {
  font-size: 1.5rem;
  margin: 1.25rem 0;
}

h3 {
  font-size: 1.2rem;
  margin: 0.6rem 0 1.25rem;
}

p {
  font-family: var(--secondary-font-family);
  margin: 0 0 1.25rem;
}

section {
  border-bottom: 2px solid #dbdbdb;
}

header {
  /* grid-column: 2 / 3;
  grid-row: 1 / 2; */
  margin: 1.25rem 0 1.87rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    font-size: 1.1rem;
  }

  .nav-container {
    display: flex;
    gap: 15px;
    justify-content: space-between;
  }
}

main {
  /* grid-column: 2 / 3;
  grid-row: 2 / 3; */
}

.home-page-hero {
  & p {
    margin: 0 0 1.87rem;
  }

  a {
    font-weight: 500;
  }
}

.projects-showcase {
  & h2 {
    margin-bottom: 1.25rem;
  }

  .selected-projects {
    margin-bottom: 1.87rem;
    border-radius: 22px;
    padding: 12px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 16px 3px #ccc;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: all 250ms ease;

    &:hover {
      box-shadow: 0 0 18px 14px #3c3c4033;
    }

    .link-container {
      & img {
        border-radius: 10px;
        height: 240px;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

footer {
  /* grid-column: 2 / 3;
  grid-row: 3 / 4; */
  margin: 0 0 1.87rem;

  & h2 {
    margin: 1.25rem 0 0.6rem;
  }

  .icon-links {
    display: flex;
    flex-direction: row;
    gap: 20px;

    & a {
      width: 35px;
      height: auto;
    }
  }
}

/* Sub Page Specific */
/* Profile Page */
figure {
  .profile-photo {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 34px;
    background-color: #dbcdbc;
    box-shadow: 0 0 12px 3px #ccc;
  }

  .photo-caption {
    margin: 0.6rem 0 1.25rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
  }
}

/* Contact Page */
a span {
  color: #770bc3;
  font-weight: 600;
}

/* Media Queries */
@media (min-width: 768px) {
  h3 {
    margin: 0 0 1.25rem;
  }

  .link-container {
    display: flex;
    gap: 1.25rem;

    & figure {
      flex: 1;
    }

    & div {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
