body {
  font-family: var(--primary-font-family);
  color: var(--text-color);
  background-color: var(--background-color);
}

.page-container {
  display: grid;
  grid-template-columns: auto clamp(200px, 100%, 640px) auto;
  margin: 0 1.87rem;
}

h1 {
  font-size: 1.8rem;
  margin: 0 0 1.25rem;
}

h2 {
  font-size: 1.5rem;
  margin: 1.25rem 0;
}

h3 {
  font-size: 1.2rem;
  margin: 0.6rem 0 1.25rem;
}

p {
  font-family: var(--secondary-font-family);
  margin: 0 0 1.25rem;
  font-size: rem;
}

section {
  border-bottom: 2px solid #dbdbdb;
}

svg {
  color: var(--svg-color);
}

header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 1.87rem 0 1.87rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    font-size: 1.1rem;
  }

  .nav-container {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;

    & button {
      border: none;
      background-color: inherit;
      width: 40px;
    }

    .theme-toggle-btn {
      width: 30px;
      height: auto;

      & svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.home-page-hero {
  & p {
    margin: 0 0 1.87rem;
  }

  a {
    font-weight: 500;
  }
}

.projects-showcase {
  & h2 {
    margin-bottom: 1.25rem;
  }

  .selected-projects {
    margin-bottom: 1.87rem;
    border-radius: 22px;
    padding: 1.5rem;
    background-color: var(--project-card-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: var(--project-card-border-color);
    transition: all 250ms ease;

    &:hover {
      box-shadow: 0 0 16px 3px var(--box-shadow-color);
    }

    & p {
      margin: 0;
    }

    .link-container {
      & figure {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & svg {
        width: 60%;
        height: 60%;
      }
    }
  }
}

footer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  margin: 0 0 1.87rem;

  & h2 {
    margin: 1.25rem 0 0.6rem;
  }

  .icon-links-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;

    svg {
      color: var(--svg-color);
      width: 30px;
      height: auto;
    }
  }
}

/* Profile Page */
figure {
  .profile-photo {
    width: 100%;
    border: 1px solid var(--project-card-border-color);
    border-radius: 34px;
    box-shadow: 0 0 12px 3px var(--box-shadow-color);
  }

  .photo-caption {
    margin: 0.6rem 0 1.25rem;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
  }
}

/* Contact Page */
a span {
  color: #770bc3;
  font-weight: 600;
}

/* Media Queries */
@media (min-width: 480px) {
  h3 {
    margin: 0 0 0.6rem;
  }

  .link-container {
    display: flex;
    gap: 1.25rem;

    & figure {
      flex: 1;
    }

    & svg {
      width: 100% !important;
      height: 100% !important;
    }

    & div {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: start;
    }

    & p {
      margin: 0;
    }
  }
}
