.global-spacing {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-small);
  padding: var(--gutter-small) 0;
}

body {
  font-family: var(--primary-font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}

.page-container {
  display: grid;
  grid-template-columns: auto clamp(200px, 100%, 640px) auto;
  margin: 0 var(--gutter-medium);
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-family: var(--secondary-font-family);
  font-size: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-small);
  padding: var(--gutter-small) 0;
  border-bottom: 2px solid #dbdbdb;
}

svg {
  color: var(--svg-color);
}

a span {
  color: var(--span-color);
  font-weight: 600;
}

header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: var(--gutter-medium) 0 0;
  padding: 0 0 var(--gutter-small);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #dbdbdb;

  & a {
    font-size: 1.1rem;
  }

  .nav-container {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;

    & button {
      border: none;
      background-color: inherit;
      width: 40px;
    }

    .theme-toggle-btn {
      width: 30px;
      height: auto;

      & svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.home-page-hero {
  display: flex;
  flex-direction: column;
  gap: var(--gutter-small);
  padding: var(--gutter-small) 0;

  a {
    font-weight: 600;
  }
}

.projects-showcase {
  .selected-projects {
    border-radius: 22px;
    padding: var(--gutter-medium);
    background-color: var(--project-card-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: var(--project-card-border-color);
    transition: all 250ms ease;

    &:hover {
      box-shadow: 0 0 16px 3px var(--box-shadow-color);
    }
  }

  .link-container {
    & figure {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & svg {
      width: 60%;
      height: 60%;
    }

    & div {
      display: flex;
      flex-direction: column;
      gap: var(--gutter-x-small);
    }
  }

  .view-all {
    font-weight: 600;
  }
}

footer {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  display: flex;
  flex-direction: column;
  gap: var(--gutter-small);
  margin: 0 0 var(--gutter-medium);
  padding: var(--gutter-small) 0 0;

  .icon-links-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;

    svg {
      color: var(--svg-color);
      width: 30px;
      height: auto;
    }
  }
}

/* Profile Page */
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .profile-photo {
    width: 100%;
    border: 1px solid var(--project-card-border-color);
    border-radius: 34px;
    margin: var(--gutter-x-small) 0 var(--gutter-x-small);
  }

  .photo-caption {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }
}

/* Media Queries */
@media (min-width: 480px) {
  .selected-projects {
    padding: var(--gutter-small) !important;
  }

  .link-container {
    display: flex;
    gap: 1.25rem;

    & figure {
      flex: 1;
    }

    & svg {
      width: 100% !important;
      height: 100% !important;
    }

    & div {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: start;
    }
  }

  .profile-photo {
    max-width: 80%;
  }
}
