:root {
  /* Light Mode */
  --primary-text-color: #000;
  --primary-background-color: #ffff;

  /* Dark-Mode */
  --secondary-text-color: #f5f5f5;
  --secondary-background-color: #0e182f;

  /* Typography */
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
}

.dark-mode {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
}
