:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
}

[data-theme="light"] {
  --text-color: #1d2125;
  --background-color: #f7f8f9;
  --svg-color: #1d2125;
  --project-card-color: #b3b9c4;
  --project-card-border-color: #b3b9c4;
  --box-shadow-color: #454f59;
}

[data-theme="dark"] {
  --text-color: #f7f8f9;
  --background-color: #1d2125;
  --svg-color: #f7f8f9;
  --project-card-color: #454f59;
  --box-shadow-color: #b3b9c4;
}
